body {
    color: #282425;
    background-color: #fff1e6;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    
}



h1 {
    font-size: 60px;
    text-align: center;
    color: #282425;
    margin-bottom: 40px;
    margin-top: 40px;
    
    
}

h2 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
    color: #756158;
    padding-top: 20px;
    margin-bottom: 5px;

}

a {
    color: #282425;
}

footer {
    
    color:#282425;
    text-align: center;
    padding: 20px 15%;
    
}
.predstaveni,
.vzdelani,
.certifikaty,
.pracovni,
.jazyky
 {
    background-color:bisque;
    
}
.foto-omne {
    width: 300px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    border:2px solid #78472b;
    margin-top: 30px;
    
}

section {
    
    padding: 5px 10%;
   
}

.skola,
.prace,
.skoleni
 {
   
    padding-left: 50px;
}

.aj,
.nj
 {
   
    padding-left: 80px;
}

th,
td {
    text-align: left;
    padding: 10px 0;
}

.predstaveni {
    overflow:auto;
}

.certifikaty {
    padding-bottom: 30px;
}
